.Game {
  height: 100%;
  overflow-y: scroll;
}

/* .Game-scroller {
 */
/* } */

.Game .EventList {
  flex-grow: 1;
}

.Game .JoinBar,
.Game .StartBar,
.Game .StatusBar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.StatusPanel {
  padding: 10rem 0;
}

.StatusPanel.bp3-non-ideal-state {
  height: 50%;
}
